
.border{
    border:2px solid rgb(3, 3, 66);
    margin : 3px;
}

.flex{
    display:flex;
}

.justify-content{
    justify-content:center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: black;
}

.rounded{
    border-radius:7 px;
}

.m-1{
    margin:5px;
}

.p-1{
    padding:10px;
}

.lang{
    margin: 18px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.cd{
    height: 50px;
    width: 150px;
    padding-top: 25px;
    justify-items: center;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    position: relative;
    font-size: 20px;;
}

.cd:hover{
    background-color: rgb(40, 40, 40);
    font-size: 25px;
}

.art{
    margin: 18px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.art .ai{
    border-radius: 70px;
}

.left a{
    color: white;
    text-decoration: none;
}





::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 4px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #666; 
  }
  
  ::-webkit-scrollbar-track {
    background: #222; 
    border-radius: 4px;
  }
  
  * {
    scrollbar-width: thin; 
    scrollbar-color: #444 #222; 
  }
  
  